/* General */

body {
    margin: 0;
    padding: 0;
}

main, footer {
    margin-left: 5px;
}

/* Header */

#cover {
background-color: rgb(7, 103, 148);
background-image: url(../css/img/pattern.png);
width: 100%;
height: 180px;
}

#logo {
    width: 250px;
    height: 200px;
    position: bottom;
    margin-left: 5px;
    margin-top: 30px;
}

/* Main */