/* General */

body {
    margin: 0;
    padding: 0;
}

main, footer {
    margin-left: 5px;
}

.evidenziato {
    background-color: yellow;
}

.container {
    width: 1100px;
    margin: 0px auto;
}

/* Header */

#cover {
background-color: rgb(7, 103, 148);
background-image: url(../css/img/pattern.png);
width: 100%;
height: 180px;
}

#logo {
    width: 250px;
    height: 200px;
    position: bottom;
    margin-left: 5px;
    margin-top: 30px;
}

/* Titolo data e autore */

h1 {
    font-size: 30px;
    margin-bottom: 0px;
}

#author {
    color: grey;
    font-weight: bold;
}

#linkstyle {
    text-decoration: none;
    font-weight: bold;
}

#date {
    color: grey;
    font-size: 14px;
}

/* Immagine e descrizione immagine */

figure {
    margin-left: 5px;
}

/* Lista */

ul {
    padding-left: 15px;
}

/* Tabella */

#testa-tabella {
    background-color: rgb(7, 103, 148);
    color: white;
}

.corpo-tabella {
    background-color: rgb(142, 229, 245);
}

table {
    width: 1100px;
    height: 220px;
    border: 0px;
    text-align: left;
}

/* Footer */

h3 {
    color: grey;
}

#articolo1 {
    background-image: url(../css/img/monitor.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 10px;
}
#articolo2 {
    background-image: url(../css/img/graph.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
}